import React from 'react'
import * as S from './styles'

const {{pascalCase name}} : React.FC =() => {
   return (
      <S.{{pascalCase name}}PageWrapper>
         <h1>{{pascalCase name}}</h1>
      </S.{{pascalCase name}}PageWrapper>
   )
}

export default {{pascalCase name}}
